fa-check {
  .fa-check-wrap {
    cursor: pointer;
    margin-bottom: 0;

    * {
      cursor: pointer;
    }

    &:hover:not(.disabled) {
      .fa-stack {
        text-shadow: 0px 0.5px 0.5px grey;
      }
    }

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed!important;

      * {
        cursor: not-allowed!important;
      }

      &:hover {
        text-shadow: unset;
      }
    }
  }

  .fa-check-wrap {
    display: flex;
    align-items: center;
  }

  .fa-check-wrap-vertical {
    flex-direction: column;
  }

  .fa-check-wrap-horizontal {
    flex-direction: row;
    
    .fa-stack {
      margin-right: 0.5rem;
    }
  }

  .input-fa-checkbox {
    opacity: 0;
  }
}
