<template>
  <require from="./fa-check.less"></require>

  <label class="fa-check-wrap fa-check-wrap-${orientation}" click.delegate="toggleIsChecked($event)"
         class.bind="(isDisabled ? 'disabled' : '') + ' ' + (isChecked ? 'text-' + type : '')">
    <span class="fa-stack">
      <i class="fa fa-stack-2x" class.bind="isChecked ? 'fa-circle' : 'fa-circle-thin'"></i>
      <i class="fa ${checkIcon} fa-stack-1x" class.bind="isChecked ? 'fa-inverse' : 'text-muted'"></i>
      <input class="input-fa-checkbox" type="checkbox" checked.bind="isChecked" autocomplete="off">
    </span>
    <slot><!-- label --></slot>
  </label>
</template>
