<template>
  <div>
  <form-wrap no-submit.bind="true">
    <form-group-date model.bind="monthFilter" for="date" view-mode="months"
                      format="MMMM - YYYY" no-label.bind="true"
                      on-changed.call="updateList()">
    </form-group-date>
  </form-wrap>
</div>
  <grid config.bind="gridConfig "
        no-rows-message.bind="noRowsMessage">
  </grid>
</template>
