<template>
  <header title.bind="read.displayName" marker-type="technician"
          breadcrumbs.bind="breadcrumbs">
  </header>
  
  <central-card-fill has-slot-header.bind="true" header-icon="fa-clock-o">
    <span slot="header">
      Logged Work <span class="text-primary">(${hoursCurrentMonth} Hours in ${loggedWorkList.monthFilter.date | date:'MMMM'})</span>
    </span>
    <compose view-model.bind="loggedWorkList" model.one-time="{ technicianId: read.id }"></compose>
  </central-card-fill>
</template>
