<template>
  <div class="td-filler-padding">
    <strong if.bind="!row.isApproved" class="text-danger">Pending Approval</strong>
    <span if.bind="row.isApproved">Approved</strong>
  </div>
</template>
