<template>
  <dialog-wrap>
    <div slot="title">
      <fa-inline-left icon="fa-users"></fa-inline-left>
      Primary Technicians
    </div>
    <div slot="body">
      <grid config.bind="gridConfig"
            show-headers.bind="false">
      </grid>
    </div>
    <div slot="footer">
      <save-button action.call="ok()" is-working.bind="isBusy"></save-button>
      <cancel-button action.call="dialogController.cancel()" is-diabled.bind="isBusy"></cancel-button>
    </div>
  </dialog-wrap>
</template>
