@import '../../../less/variables';

@drawer-z: @nav-z - 100;

@media(max-width: @sm) {
  info-drawer {
    .info-drawer {
      padding-left: 0!important;
      left: -105%!important;
      width: 85%!important;

      &.info-drawer-open {
        left: 0!important;
      }
    }

    .info-drawer-closer {
      &.info-drawer-closer-open {
        left: 85%!important;
      }
    }
  }
}

info-drawer {
  header {
    .header {
      padding-bottom: 4rem;
    }
  }
  .info-drawer {
    position: absolute;
    top: 0;
    left: -80%;
    background-color: #ececec;

    padding-left: @side-nav-width;
  
    height: 100vh;
    z-index: @drawer-z;
    box-shadow: none;
  
    width: 60%;
    will-change: transform, left;
    transition: left 0.25s ease-in;
  
    overflow-x: hidden;
  
    &.info-drawer-open {
      left: 0;
      box-shadow: 1px 0px 18px -5px black;
    }
    
    .info-drawer-container {
      height: 100%;

      .header {
        background: #283c44;

        .title {
          color: var(--white);
        }
      }

      .info-drawer-content {
        margin-top: -1.5rem;

        .card {
          height: 200px;
          margin-bottom: 2*@container-padding;
        }
      }
    }
  }

  .info-drawer-footer {
    text-align: right;
    width: 100%;
  }
  
  .info-drawer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
  
    z-index: 0;
    opacity: 0;
    will-change: transform, opacity;
    transition: opacity 0.25s ease-in;
    background-color: black;
  
    &.info-drawer-overlay-open {
      z-index: @drawer-z - 1;
      opacity: 0.7;
    }
  }
  
  .info-drawer-closer {
    position: absolute;
    left: -20%;
    padding: 1rem;
    z-index: @drawer-z;
    will-change: transform, left;
    transition: left 0.25s ease-in;
    color: var(--white);

    &.info-drawer-closer-open {
      left: 60%;
    }

    .fa {
      cursor: pointer;
    }
  }
}
