<template>
  <require from="./info-drawer.less"></require>
  
  <div class="info-drawer" class.bind="isOpen ? 'info-drawer-open' : ''">
    <div class="d-flex flex-column info-drawer-container">

      <header title="Bob's Restaurant" subtitle="123 Main St." 
              icon="fa-cutlery fa-inverse" marker-type="generator">
      </header>

      <div class="info-drawer-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body text-center">
                  Stuff goes into these widgets to provide information about the selected marker
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body text-center">
                  Maybe some small sparkline charts like at the top of 
                  <br>
                  <a target="blank" href="http://themes.getbootstrap.com/preview/?theme_id=1696&show_new=">this page</a>
                </div>
              </div>
            </div>  
            <div class="col-md-6">
              <div class="card">
                <div class="card-body text-center">
                  Or some large charts or general text information about the selected marker
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body text-center">
                  I'm not entirely sure yet....
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="info-drawer-overlay" class.bind="isOpen ? 'info-drawer-overlay-open' : ''"
       click.delegate="hideDrawer()">
  </div>
  <div class="info-drawer-closer" class.bind="isOpen ? 'info-drawer-closer-open' : ''">
    <a click.delegate="hideDrawer()">
      <i class="fa fa-arrow-circle-o-left fa-2x"></i>
    </a>
  </div>
</template>
