<template>
  <header title.bind="adminRead.name" marker-type="hub" subtitle.bind="addressString"
          breadcrumbs.bind="breadcrumbs">
    <edit-button action.call="editGeneralInfo()" is-working.bind="isEditing" if.bind="auth.isAdmin"></edit-button>
    <create-button href.bind="'hubs/create-work/' + adminRead.id"
                   if.bind="adminRead.generators.length > 0"
                   text="Work"></create-button>
  </header>

  <alert-bubble if.bind="lastWork && !lastWork.isApproved && auth.isAdmin" type="primary" size="md"
                is-centered.bind="true" icon="fa-exclamation"
                actionable-href.bind="'work/read/' + lastWork.id">
    <strong>This hub has work that is pending approval</strong>
  </alert-bubble>

  <alert-bubble if.bind="!adminRead.generators || adminRead.generators.length === 0 && auth.isAdmin" 
                type="danger" size="md" is-centered.bind="true" icon="fa-exclamation"
                actionable-href.bind="'hubs/link-generators/' + adminRead.id">
    <strong>This hub has no linked generators</strong>
    <p>A generator must be linked before work can be recorded</p>
  </alert-bubble>

  <alert-bubble if.bind="!adminRead.technicians || adminRead.technicians.length === 0 && auth.isAdmin" 
                type="warning" size="md" is-centered.bind="true" icon="fa-exclamation"
                action.call="selectTechnicians()">
    <strong>This hub has no linked technicians</strong>
  </alert-bubble>

  <alert-bubble if.bind="!adminRead.isActive" type="warning" size="md"
                is-centered.bind="true">
    <strong>This hub is not active</strong>
  </alert-bubble>

  <div class="container w-100">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" class.bind="currentPage === 'general' ? 'active' : ''" 
            href="javascript:void(0)"
            click.delegate="setPage('general')">General</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" class.bind="currentPage === 'batches' ? 'active' : ''" 
            href="javascript:void(0)"
            click.delegate="setPage('batches')">Batches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" class.bind="currentPage === 'work' ? 'active' : ''" 
            href="javascript:void(0)"
            click.delegate="setPage('work')">Work</a>
      </li>
    </ul>
    <hr>
    <div class="row" show.bind="currentPage === 'general'">
      <div class="col-12 col-lg-6">
        <list-group title="Technicians" title-icon="fa-users" item-vm-ctor.bind="TechnicianListItem" 
                    items.bind="adminRead.technicians" item-click.bind="technicianItemClick">
          <create-button if.bind="adminRead.technicians.length === 0"
                         show.one-time="auth.isAdmin"
                         size="sm" action.call="selectTechnicians()" 
                         is-working.bind="isSelectingTechnicians">
          </create-button>
          <edit-button if.bind="adminRead.technicians.length > 0"
                       show.one-time="auth.isAdmin"
                       size="sm" action.call="selectTechnicians()" 
                       is-working.bind="isSelectingTechnicians">
          </edit-button>
        </list-group>
      </div>

      <div class="card-vertical-spacer d-lg-none"></div>

      <div class="col-12 col-lg-6">
        <contact-list contacts.bind="adminRead.contacts" owning-doc-id.bind="adminRead.id"
                      remove-contact-end-point.one-time="auth.isAdmin ? hubApi.removeContact.bind(hubApi) : null"
                      edit-contact-end-point.bind="auth.isAdmin ? hubApi.editContact.bind(hubApi) : null"
                      add-contact-end-point.bind="auth.isAdmin ? hubApi.addContact.bind(hubApi) : null"
                      on-changed.call="onHubChanged()"></contact-list>
      </div>

      <div class="card-vertical-spacer"></div>
      
      <div class="col-12" class.bind="adminRead.notes ? 'col-lg-6' : 'col-md-12'">
        <list-group title="Linked Generators" title-icon="fa-cutlery" item-vm-ctor.bind="GeneratorListItem" 
                    items.bind="adminRead.generators" item-click.bind="generatorItemClick">
          <help-tooltip>
            <i class="fa fa-home fa-fw text-primary"></i>
            = Residential
            <br/>
            <i class="fa fa-building fa-fw text-primary"></i>
            = Business
          </help-tooltip>
          <a class.bind="adminRead.generators.length > 0 ? 'btn-primary' : 'btn-success'"
              class="btn btn-sm" href.bind="'hubs/link-generators/' + adminRead.id"
              if.bind="auth.isAdmin">
            <i class="fa" class.bind="adminRead.generators.length > 0 ? 'fa-pencil' : 'fa-plus'"></i>
          </a>
        </list-group>
      </div>

      <div class="card-vertical-spacer d-lg-none" if.bind="adminRead.notes"></div>
    
      <div class="col-12 col-lg-6" if.bind="adminRead.notes">
        <central-card-fill header="Access Notes" header-icon="fa-sticky-note">
          ${adminRead.notes}
        </central-card-fill>
      </div>
    </div>
    
    <div class="row" show.bind="currentPage === 'batches'">
      <div class="col-12 col-md-12">
          <central-card-fill header="Bays" header-icon="fa-cubes">
            <compose view-model.bind="hubBaysVm" model.bind="hubBaysModel"></compose>
          </central-card-fill>
      </div>

      <div class="card-vertical-spacer"></div>
      
      <div class="col-12 col-md-12">
        <central-card-fill header="Active Batches" header-icon="fa-hourglass-start">
          <compose view-model.bind="activeBatches" model.bind="activeBatchesListParams"></compose>
        </central-card-fill>
      </div>

      <div class="card-vertical-spacer"></div>
      
      <div class="col-12 col-md-12">
        <central-card-fill header="Finished Batches" header-icon="fa-hourglass-end">
          <compose view-model.bind="finishedBatches" model.one-time="adminRead"></compose>
        </central-card-fill>
      </div>
    </div>
    <div class="row" show.bind="currentPage === 'work'">
      <div class="col-12 col-md-12" id="recent-work">
        <central-card-fill header="Recent Work" header-icon="fa-wrench">
          <compose view-model.bind="recentWork" model.bind="recentWorkListParams"></compose>
        </central-card-fill>
      </div>
    </div>
  </div>
</template>
