<template>
  <require from="./side-nav.less"></require>

  <ul class="nav flex-column">
    <li class="nav-item brand">
      <a class="nav-link" href="http://www.inikasmallearth.org/food2soil.html" target="blank">
        <img src="../../../../img/brand.png"/>
      </a>
    </li>
    <slot name="nav-items"></slot>
    <li class="nav-item filler-hack">

    </li>
  </ul>
</template>
