<template>
  <header title="Generators" marker-type="generator">
    <a class="btn btn-success" href="generators/create"
       if.bind="auth.isAdmin">
      <fa-inline-left icon="fa-magic"></fa-inline-left>
      Create
    </a>
  </header>

  <central-card-lg>
    <grid config.bind="gridConfig" show-headers.bind="false">
    </grid>
  </central-card-lg>
</template>
