<template>
  <header title.bind="adminRead.name" marker-type="generator" 
          subtitle.bind="addressString" breadcrumbs.bind="breadcrumbs">
    <edit-button action.call="editGeneralInfo()" is-working.bind="isEditing" 
                 is-disabled.bind="isEditingCollection" if.bind="auth.isAdmin"></edit-button>
  </header>

  <alert-bubble if.bind="!adminRead.isActive" type="warning" size="md"
                is-centered.bind="true">
    <strong>This generator is not active</strong>
  </alert-bubble>
  <div class="container w-100">
    <div class="row">
      <div class="col-12 col-md-6">
        <central-card-fill header="Collection Information" header-icon="fa-info"
                           has-no-body.bind="true">
          <div slot="toolbar">
            <edit-button action.call="editCollectionInfo()" is-working.bind="isEditingCollection"
                         is-disabled.bind="isEditing" size="sm" if.bind="auth.isAdmin"></edit-button>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <card-title>Generator Type</card-title>
              ${adminRead.generatorType} - ${adminRead.collectionType}
            </li>
            <li class="list-group-item">
              <card-title>Container</card-title>
              ${adminRead.containerHistory[adminRead.containerHistory.length - 1].volumePerContainer} gallons - 
              ${adminRead.containerHistory[adminRead.containerHistory.length - 1].containersPerWeek} per week
            </li>
          </ul>
        </central-card-fill>
      </div>

      <div class="card-vertical-spacer d-md-none"></div>

      <div class="col-12 col-md-6">
        <contact-list contacts.bind="adminRead.contacts" owning-doc-id.bind="adminRead.id"
                      remove-contact-end-point.bind="auth.isAdmin ? generatorApi.removeContact.bind(generatorApi) : null"
                      edit-contact-end-point.bind="auth.isAdmin ? generatorApi.editContact.bind(generatorApi) : null"
                      add-contact-end-point.bind="auth.isAdmin ? generatorApi.addContact.bind(generatorApi) : null"
                      on-changed.call="onGeneratorChanged()"></contact-list>
      </div>
    </div>
  </div>
</template>
