<template>
  <require from="../button-wrap.less"></require>
  
  <standard-button type="success" action.bind="action" href.bind="href"
                   is-disabled.bind="isDisabled" is-working.bind="isWorking"
                   size.bind="size" icon="fa-plus" text.bind="text"></standard-button>
</template>
  