button-wrap {
  .btn {
    .not-busy-desc {
      height: 100%;
    }

    .busy-desc {
      height: 0px;
      overflow: hidden;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .btn-working {
    .not-busy-desc {
      height: 0px;
      overflow: hidden;
    }

    .busy-desc {
      height: 100%;
    }
  }
}

.a-wrap {
  display: inline;

  &.disabled {
    cursor: not-allowed;
  }
}
