<template>
  <require from="./button-wrap.less"></require>
  <button class="btn btn-${type} btn-${size}"
          class.bind="classes + ' ' + (isWorking ? 'btn-working' : '')" 
          click.delegate="invokeAction()" 
          disabled.bind="isDisabled || isWorking" 
          aria-disabled.bind="isDisabled || isWorking">
    <div class="not-busy-desc">
      <slot></slot>
    </div>
    <div class="busy-desc">
      <i class="fa fa-spin fa-circle-o-notch fa-lg"></i>
      <span class="sr-only" show.bind="isWorking">Busy...</span>
    </div>
  </button>
</template>
