<template>
  <require from="./alert-bubble.less"></require>

  <div class="w-100" class.bind="isCentered ? 'd-flex justify-content-center' : ''">
    <a href.bind="actionableHref" class="alert-bubble-anchor alert-bubble-${size}">
      <div class="alert alert-${type} alert-bubble d-flex justify-content-between align-items-center"
          class.bind="action || actionableId || actionableHref ? 'alert-bubble-action' : ''"
          click.delegate="doAction($event)">
        <fa-inline-left icon="${icon} text-${iconType} fa-2x"></fa-inline-left>
        <span class="alert-bubble-content text-center">
          <slot></slot>
          <button if.bind="action || actionableId || actionableHref" 
                  class="alert-${type} btn-transparent" click.delegate="doAction($event)">
            <i class="fa fa-fw fa-hand-pointer-o"></i>
            Click to take action
          </button>
        </span>
        <fa-inline-right icon="${icon} text-${iconType} fa-2x"></fa-inline-right>
      </div>
    </a>
  </div>
</template>
