<template>
  <header title="Create your Account" icon="fa-user"></header>
  <central-card>
    <form-wrap model.bind="inviteBody" view-model.ref="form">
      <form-header>
        <div slot="title">
          Welcome ${read.firstName} ${read.lastName}!
        </div>
        <div slot="help">
          You have been invited by ${read.invitedBy.displayName} to create an account with the following roles:
          <ul>
            <li repeat.for="role of read.roles">${UserRoles[role]}</li>
          </ul>
          Please complete the form below to create an account linked to ${read.email}
        </div>
      </form-header>
      <form-group type="phone" placeholder="(000) 000-0000" for="phone">
        <div slot="label">
          Phone
        </div>
      </form-group>
      <form-group type="password" placeholder="Use numbers and symbols" for="password">
        <div slot="label">
          Password
          <password-help></password-help>
        </div>
      </form-group>
      <form-group type="password" placeholder="Re-enter your password" for="confirmPassword">
        <div slot="label">
          Confirm Password
          <password-help></password-help>
        </div>
      </form-group>
      <div slot="submit">
        <standard-button text="Create Account" icon="fa-check" 
                         type="primary btn-block" 
                         action.call="claimAccount()"
                         is-working.bind="isWorking"></standard-button>
      </div>
    </form-wrap>
  </central-card>
</template>
