<template>
    <dialog-wrap>
      <div slot="title">
        <fa-inline-left icon="fa-pencil"></fa-inline-left>
        ${original.name}
      </div>
  
      <div slot="body">
        <form-wrap model.bind="update" view-model.ref="form" no-submit.bind="true">
          <form-header>
            <div slot="title">
              <fa-inline-left class="fa fa-info"></fa-inline-left>
              General Information
            </div>
          </form-header>
          <form-group placeholder="IE. Restaurant or Member Name" autofocus.bind="true" for="name">
            <div slot="label">
              Name
            </div>
          </form-group>
          <form-header>
            <div slot="title">
                <i class="fa fa-fw fa-map-pin"></i>
              Address
            </div>
          </form-header>
          <form-group placeholder="Ex. 123 Main St" for="addressPrimaryLine">
            <div slot="label">
              Street 1
            </div>
          </form-group>
          <form-group placeholder="Ex. Ste/Unit/Apt #" for="addressSecondaryLine">
            <div slot="label">
              Street 2
            </div>
          </form-group>
          <form-group placeholder="Ex. San Diego" for="addressCity">
            <div slot="label">
              City
            </div>
          </form-group>
          <form-group placeholder="Ex. CA" for="addressState">
            <div slot="label">
              State
            </div>
          </form-group>
          <form-group placeholder="Ex. 92101" for="addressZip">
            <div slot="label">
              Zip
            </div>
          </form-group>
          <form-header>
            <div slot="title">
              <i class="fa fa-fw fa-sticky-note"></i>
              Access Notes
            </div>
          </form-header>
          <form-group-textarea placeholder="Ex. Gate code or key" for="notes" no-label.bind="true">
            </form-group-textarea>
        </form-wrap>
      </div>
  
      <div slot="footer">
        <save-button action.call="save()" is-working.bind="isSaving"></save-button>
        <cancel-button action.call="dialogController.cancel()" is-diabled.bind="isSaving"></cancel-button>
      </div>
    </dialog-wrap>
  </template>
  