<template>
  <require from="../side-nav.less"></require>

  <li class="nav-item">
    <a class="nav-link icon-nav-link" href.bind="href">
      <i class="fa fa-2x fa-fw ${icon}"></i>
      <slot name="badge">

      </slot>
    </a>
    <ul class="nav sub-nav flex-column">
      <li class="sub-nav-item nav-item">
        <a class="sub-nav-link nav-link" href.bind="href">
          <fa-inline-left if.bind="titleIcon" icon.bind="titleIcon"></fa-inline-left>
          ${title}
        </a>
      </li>
      <slot name="nav-sub-items"></slot>
    </ul>
  </li>
</template>
