<template>
  <require from="./dialog-wrap.less"></require>
  
  <ux-dialog>
    <ux-dialog-header>
      <h3>
        <slot name="title"></slot>
      </h3>
    </ux-dialog-header>

    <ux-dialog-body>
      <div>
        <slot name="body"></slot>
      </div>
    </ux-dialog-body>

    <ux-dialog-footer>
      <div>
        <slot name="footer"></slot>
      </div>
    </ux-dialog-footer>
  </ux-dialog>
</template>
