@import '../../../less/variables.less';

@media(min-width: @sm) {
  ux-dialog {
    width: @sm * .95;
  }
}

@media(min-width: @md) {
  ux-dialog {
    width: @md * .8;
  }
}

@media(min-width: @lg) {
  ux-dialog {
    width: @lg * .65;
  }
}

@media(min-width: @xl) {
  ux-dialog {
    width: @xl * .5;
  }
}

ux-dialog-header {
  h3 {
    margin-bottom: 0;
  }
}
