@import '../../../less/variables';

.form-group {
  help-tooltip {
    margin-left: 0.1em;
  }

  .form-text {
    margin-top: 0;
  }
}

.form-group-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;

  label {
    margin-bottom: 0px;
  }
}

.form-group-disabled {
  input, select, textarea {
    cursor: not-allowed;
  }
}
