<template>
    <require from="./form-group.less"></require>

    <div class="form-group" class.bind="isDisabled ? 'form-group-disabled' : ''">
      <div class="form-group-${orientation}">
        <label for.one-time="id">
            <slot name="label"></slot>
        </label>

        <input if.bind="model && type === 'phone'" type="tel" class="form-control" id.one-time="id" 
              aria-describedby.bind="id + 'Help'"
              autocomplete autofocus.bind="autofocus"
              masked="value.bind: value; mask: (999) 999-9999; placeholder: #;"
              disabled.bind="isDisabled" aria-disabled.bind="isDisabled"/>

        <input if.bind="type !== 'phone'" type.bind="type" class="form-control" id.one-time="id" 
              aria-describedby.bind="id + 'Help'" placeholder.bind="placeholder"
              value.bind="value" autocomplete autofocus.bind="autofocus"
              disabled.bind="isDisabled" aria-disabled.bind="isDisabled"/>
      </div>
      <small id.bind="id + 'Help'" class="form-group-help form-text text-muted">
        <slot name="help"></slot>
      </small>
    </div>
    
</template>
