<template>
  <dialog-wrap>
    <div slot="title">
      <fa-inline-left icon="fa-pencil"></fa-inline-left>
      ${update.name}
    </div>

    <div slot="body">
      <form-wrap model.bind="update" view-model.ref="form" no-submit.bind="true">
        <form-header>
          <div slot="title">
            <fa-inline-left class="fa fa-info"></fa-inline-left>
            Generator Type
          </div>
        </form-header>
        <form-group-select placeholder="Select an option..." for="generatorType"
                           select-options.bind="generatorTypeSelect">
          <div slot="label">
            Type
          </div>
        </form-group-select>
        <form-group-select placeholder="Select an option..." for="collectionType"
                           select-options.bind="collectionTypeSelect">
          <div slot="label">
            Collection Type
          </div>
        </form-group-select>
        <form-header>
          <div slot="title">
            <fa-inline-left class="fa fa-cube"></fa-inline-left>
            Generator Type
          </div>
        </form-header>
        <form-group-select placeholder="Select an option..." for="containerType"
                           select-options.bind="containerTypeSelect">
          <div slot="label">
            Container Type
          </div>
        </form-group-select>
        <form-group placeholder="Ex. 5" for="containersPerWeek" type="number">
          <div slot="label">
            Containers per Week
          </div>
        </form-group>
      </form-wrap>
    </div>

    <div slot="footer">
      <save-button action.call="save()" is-working.bind="isSaving"></save-button>
      <cancel-button action.call="dialogController.cancel()" is-diabled.bind="isSaving"></cancel-button>
    </div>
  </dialog-wrap>
</template>
