<template>
  <div class="td-filler-padding">
    <strong class.bind="dateClass">${row.stats.lastWork.date | date}</strong>
    <small if.bind="row.stats.lastWork && !row.stats.lastWork.isApproved"><br>Pending</small>
  </div>
</template>
  