<template>
  <div class="td-filler-padding">
    <span if.bind="row.technicians.length > 0">Has Technician(s)</span>
    <span if.bind="pendingTechnicianNames.length > 0 && row.technicians.length === 0">
      <span class="text-warning">
        Pending Technician(s)
      </span>
      <ul>
        <li repeat.for="t of pendingTechnicianNames">${t}</li>
      </ul>
    </span>
    <strong class="text-danger" if.bind="pendingTechnicianNames.length === 0 && row.technicians.length === 0">Needs Technician</strong>
  </div>
</template>
