<template>
  <require from="./index.less"></require>

  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand" href="http://www.food2soil.net" target="_blank">
      <img src="../../../img/brand.png" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fa fa-fw fa-home"></i>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signin">
            <i class="fa fa-fw fa-user"></i>
            Sign In
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <side-nav>
    <div slot="nav-items">
      <side-nav-item title="Home" icon="fa-home" href="/">
      </side-nav-item>
      <side-nav-item title="Sign In" icon="fa-user" href="/signin">
        <div slot="badge">
          <span class="badge badge-danger">
            <i class="fa fa-fw fa-unlock"></i>
          </span>  
        </div>
      </side-nav-item>
    </div>
  </side-nav>
  <div class="page-host">
    <div class="container-fluid">
        <router-view></router-view>
    </div>
  </div>
</template>
