<template>
  <require from="./grid-row-toggle.less"></require>
  <require from="../../../../less/app.less"></require>

  <div class="toggle-wrap list-group-item-padding td-filler-padding d-flex align-items-center justify-content-between">
    <span>
      <slot></slot>
    </span>
    
    <span class="fa-stack" class.bind="isSelected ? 'active' : ''">
      <i class="fa fa-circle fa-stack-2x toggle-outline"></i>
      <i class="fa fa-check fa-stack-1x toggle-check"></i>
    </span>
  </div>
</template>
