@import '../../../../less/variables.less';

grid-row-toggle {
  .toggle-wrap {
    width: 100%;

    .fa-stack {
      .toggle-outline {
        color: var(--gray);
      }

      .fa-check {
        color: var(--white);
      }
    }

    .fa-stack.active {
      .toggle-outline {
        color: var(--green);
      }
    }
  }

  .toggle-wrap:hover{
    .toggle-outline {
      color: var(--black);
    }
  }
}
