.card-bay {
  height: 12rem;
  width: 12rem;

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  h4 {
    margin-bottom: 0;
  }

  hr {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .bay-name {
    justify-self: center;
    align-self: center;
  }
}

hub-bay {
  .card-body-hub-content {
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .card-bay-title-name {
    flex: 1;
    text-align: left;
  }

  .card-bay-title-temp {
    flex: 1;
    white-space: nowrap;
  }

  .card-bay-title-icon {
    flex: 1;
    text-align: right;
  }
}

work-bay {
  .fa-check-label-disabled {
    opacity: 0.2;
  }

  .action-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .input-num-buckets {
    label {
      fa-inline-left {
        .fa {
          font-size: 10px;
        }
      }
    }

    .form-group {
      margin-bottom: 0px;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }

  input[type=number] {
    -moz-appearance:textfield;
  }
}

@-moz-document url-prefix() {
  work-bay {
    .form-group {
      margin-bottom: 0px;
    }

    .form-group-temperature {
      input {
        width: 5.5rem;
      }
    }

    .input-num-buckets {
      input {
        width: 3.5rem;
      }
    }
  }
}
