<template>
  <central-card-fill header="Contacts" header-icon="fa-address-card-o" has-no-body.bind="true">
    <div slot="toolbar">
      <create-button size="sm" action.call="addContact()"
                     if.bind="addContactEndPoint"></create-button>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center"
          repeat.for="contact of contacts">
        <div>
          <strong if.bind="contact.isPrimary">
            <i class="fa fa-star fa-inline-left text-warning"></i>Primary
            <br/>
          </strong>
          ${contact.name}<small class="text-muted" if.bind="contact.title"> - ${contact.title}</small>
          <br/>
          <small if.bind="contact.phone">
            <i class="fa fa-inline-left fa-phone"></i>
            ${contact.phone | phone}<br/>
          </small>
          <small if.bind="contact.email">
            <i class="fa fa-inline-left fa-envelope-o"></i>
            ${contact.email}<br/>
          </small>
        </div>
        <div>
          <edit-button if.bind="editContactEndPoint" size="sm" action.call="editContact(contact)" is-disabled.bind="isRemovingAllFlag || isEditing || isAdding"></edit-button>
          <delete-button size="sm" action.call="removeContact(contact, $index)" is-disabled.bind="isRemovingAllFlag || isEditing || isAdding"
                         is-working.bind="isRemoving[$index]"
                         if.bind="removeContactEndPoint"></delete-button>
        </div>
      </li>
    </ul>
  </central-card-fill>
</template>
