<template>
  <require from="../bay-visual.less"></require>

  <div class="bay-wrap">
    <div class="regular-wrap">
      <hub-bay repeat.for="b of regularBays" bay.bind="b"
               last-work.bind="lastWork"></hub-bay>
    </div>
    <div class="holding-wrap">
      <hub-bay repeat.for="b of holdingBays" bay.bind="b"
               last-work.bind="lastWork"></hub-bay>
    </div>
  </div>
</template>
