<template>
  <header title="Create" marker-type="hub" subtitle="Hubs"
          breadcrumbs.bind="breadcrumbs">   
    <save-button action.call="create()" is-working.bind="isSaving"></save-button>
  </header>

  <alert-bubble size="md" is-centered.bind="true">
    <strong>Please fill out each section</strong>
  </alert-bubble>
  <div class="container w-100">
    <div class="row">
      <div class="col-12 col-md-6 order-1">
        <central-card-fill>
          <form-wrap model.bind="createBody" view-model.ref="infoForm" no-submit.bind="true">
            <form-header>
              <div slot="title">
                <i class="fa fa-fw fa-info"></i>
                Site Information
              </div>
            </form-header>
            <form-group placeholder="Ex. Main St Community Garden" for="name">
              <div slot="label">
                Name
              </div>
            </form-group>
            <form-group placeholder="Gallons of foodscraps" type="number" for="capacityGallonsPerWeek">
              <div slot="label">
                Weekly Capacity (gallons)
              </div>
            </form-group>
            <div class="container">
              <div class="row">
                <div class="col-12 col-md-6">
                  <form-wrap model.bind="createBody" view-model.ref="isCollectionPointForm" no-submit.bind="true">
                    <fa-check for="isCollectionPoint" orientation="horizontal">
                      <span if.bind="!createBody.isCollectionPoint">Collection Point?</span>
                      <span if.bind="createBody.isCollectionPoint">
                        <strong>Collection Point</strong>
                      </span>
                    </fa-check>
                  </form-wrap>
                </div>
                <div class="col-12 col-md-6">
                  <form-wrap model.bind="createBody" view-model.ref="isCompostingForm" no-submit.bind="true">
                    <fa-check for="isComposting" orientation="horizontal">
                      <span if.bind="!createBody.isComposting">Composting Hub?</span>
                      <span if.bind="createBody.isComposting">
                        <strong>Composting Hub</strong>
                      </span>
                    </fa-check>
                  </form-wrap>
                </div>
              </div>
            </div>
          </form-wrap>
        </central-card-fill>

        <div class="card-vertical-spacer"></div>

        <central-card-fill>
          <form-header>
            <div slot="title">
              <i class="fa fa-fw fa-address-card-o"></i>
              Primary Contact
            </div>
          </form-header>
          <form-wrap model.bind="createBody" view-model.ref="contactForm" no-submit.bind="true">
            <form-group placeholder="Ex. Jane Smith" for="primaryContactName">
              <div slot="label">
                Name
              </div>
            </form-group>
            <form-group placeholder="Ex. Garden Coordinator" for="primaryContactTitle">
              <div slot="label">
                Title
              </div>
            </form-group>
            <form-group placeholder="Ex. (123) 456-7890" for="primaryContactPhone" type="phone">
              <div slot="label">
                Phone
              </div>
            </form-group>
            <form-group placeholder="Ex. jsmith@community-garden.org" for="primaryContactEmail" type="email">
              <div slot="label">
                Email
              </div>
            </form-group>
          </form-wrap>
        </central-card-fill>
      </div>

      <div class="col-12 col-md-6 order-2">
        <central-card-fill>
          <form-header>
            <div slot="title">
              <i class="fa fa-fw fa-map-pin"></i>
              Address
            </div>
          </form-header>
          <form-wrap model.bind="createBody" view-model.ref="addressForm" no-submit.bind="true">
            <form-group placeholder="Ex. 123 Main St" for="addressPrimaryLine">
              <div slot="label">
                Street 1
              </div>
            </form-group>
            <form-group placeholder="Ex. Ste/Unit/Apt #" for="addressSecondaryLine">
              <div slot="label">
                Street 2
              </div>
            </form-group>
            <form-group placeholder="Ex. San Diego" for="addressCity">
              <div slot="label">
                City
              </div>
            </form-group>
            <form-group placeholder="Ex. CA" for="addressState">
              <div slot="label">
                State
              </div>
            </form-group>
            <form-group placeholder="Ex. 92101" for="addressZip">
              <div slot="label">
                Zip
              </div>
            </form-group>
          </form-wrap>
        </central-card-fill>

        <div class="card-vertical-spacer"></div>

        <central-card-fill>
          <form-header>
            <div slot="title">
              <i class="fa fa-fw fa-sticky-note-o"></i>
              Access Notes
            </div>
          </form-header>
          <form-wrap model.bind="createBody" view-model.ref="notesForm" no-submit.bind="true">
            <form-group-textarea placeholder="Ex. Gate code or key" for="notes" no-label.bind="true">
            </form-group-textarea>
          </form-wrap>
        </central-card-fill>
      </div>
    </div>
  </div>
</template>
