@import '../../../less/variables.less';

.link-generators {
  .leaflet-wrap {
    height: 100vh;
    width: calc(100% + (2 * @container-padding));
    margin-left: -1 * @container-padding;
    margin-top: -1 * @container-padding;
    margin-bottom: -1 * @container-padding;

    will-change: transform, width;
    transition: width 0.25s ease-in;

    .leaflet-container {
      height: 100%;
    }

    &.select-drawer-open {
      width: calc(70% + (2 * @container-padding));
    }
  }

  .select-drawer {
    position: absolute;
    top: 0;
    right: -30%;
    background-color: #ececec;
  
    height: 100vh;
    z-index: 9999;
    box-shadow: 1px 0px 18px -5px black;
  
    width: 30%;
    will-change: transform, right;
    transition: right 0.25s ease-in;
  
    overflow-x: hidden;
  
    &.select-drawer-open {
      right: 0;
    }
  }

  .select-drawer-btn {
    z-index: 9999;
    position: absolute;
    border: 2px solid rgba(0,0,0,0.2);
    will-change: transform, right;
    transition: right 0.25s ease-in;

    &.select-drawer-open {
      right: calc(30% + 10px);
    }
  }
  
  .select-drawer-toggler {
    top: 10px;
    right: 10px;
  }

  .select-drawer-save {
    top: 60px;
    right: 10px;
  }

  .select-drawer-cancel {
    top: 110px;
    right: 10px;
  }

  .select-drawer-header {
    box-shadow: 1px 0px 18px -5px black;
    z-index: 2; // ensures the shadow is visible

    &.header-hub {
      background: @marker-darkpurple;
      color: var(--white);
    }

    h5 {
      margin-bottom: 0;
    }
  }

  .select-drawer-body {
    overflow: auto;
    flex: 1;
  }

  .list-group-item-padding {
    padding: 0.75rem 1.25rem;
  }

  .list-group-item-togglable {
    padding: 0;
    cursor: pointer;

    a {
      display: block;
      height: 100%;
      width: 100%;
      text-decoration: none;
      color: unset;
    }
  }
}

.awesome-marker.previewed-marker{
  background-position: -36px 0!important;
  opacity: 1!important;
}

.awesome-marker.unlinked-marker{
  opacity: 0.4;
}

