<template>
  <require from="./link-generators.less"></require>

  <div class="link-generators">
    <div class="leaflet-wrap" class.bind="isSelectOpen ? 'select-drawer-open' : ''">
      <leaflet center.bind="centerMarker.latlng" on-marker-click.call="null" markers.bind="markers" view-model.ref="map"
                on-attached.call="initMarkers()"></leaflet>
    </div>
    <button class="btn btn-light select-drawer-btn select-drawer-toggler" click.delegate="toggleDrawer()"
            class.bind="isSelectOpen ? 'select-drawer-open' : ''">
      <i class="fa fa-fw" class.bind="isSelectOpen ? 'fa-chevron-right' : 'fa-navicon'"></i>
    </button>
    <button-wrap classes.bind="isSelectOpen ? 'select-drawer-open select-drawer-btn select-drawer-save' : 'select-drawer-btn select-drawer-save'" action.call="save()"
                 title="Save Changes" is-disabled.bind="isSaving" type="success">
      <i class="fa fa-fw" class.bind="isSaving ? 'fa-spin fa-spinner' : 'fa-save'"></i>
    </button-wrap>
    <a class="btn btn-warning select-drawer-btn select-drawer-cancel"
            class.bind="isSelectOpen ? 'select-drawer-open' : ''" title="Cancel"
            href="hubs/read/${hub.id}">
      <i class="fa fa-fw fa-undo"></i>
    </a>
    <div class="select-drawer d-flex flex-column" class.bind="isSelectOpen ? 'select-drawer-open' : ''">
      <div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-white select-drawer-header header-hub">
            <h5>
              ${hub.name}
              <br/>
              <small>
                <fa-inline-left icon="fa-link text-primary"></fa-inline-left>
                ${hub.generators.length} Linked
              </small>
              <small class.bind="fillCapacityContextClass">
                <br/>
                <fa-inline-left icon="fa-percent text-primary"></fa-inline-left>
                ${hub.__linkGenerators_filledCapacity}/${hub.capacityGallonsPerWeek} Gallons per Week
              </small>
            </h5>
          </li>
        </ul>
      </div>

      <div class="select-drawer-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-togglable" repeat.for="g of generators" mouseenter.trigger="previewGenerator(g)"
              mouseleave.trigger="unpreviewGenerator(g)">
            <a click.delegate="toggleLink(g)">
              <grid-row-toggle is-selected.bind="g.__linkGenerators_isLinked">
                <div class="d-flex align-items-center">
                  <div>
                    <fa-inline-left if.bind="g.__linkGenerators_isLinkedOther" icon="fa-lg fa-link text-warning"></fa-inline-left>
                    <fa-inline-left if.bind="!g.__linkGenerators_isLinkedOther && g.generatorType === 'Residential'" 
                                    icon="fa-lg fa-home text-primary"></fa-inline-left>
                    <fa-inline-left if.bind="!g.__linkGenerators_isLinkedOther && g.generatorType === 'Restaurant'" 
                                    icon="fa-lg fa-building text-primary"></fa-inline-left>
                    </div>
                  <div>
                    ${g.name}
                    <small class.bind="g.__linkGenerators_capacityContext">
                      <br/>
                      ${g.__linkGenerators_capacity} Weekly Gallons
                    </small>
                    <small class.bind="g.__linkGenerators_distanceContext">
                      <br/>
                      ${g.__linkGenerators_distance} Miles from Hub
                    </small>
                  </div>
                </div>
              </grid-row-toggle>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </template>
  