<template>
  <header title="Hubs" marker-type="hub" breadcrumbs.bind="breadcrumbs">
    <a class="btn btn-success" href="hubs/create"
       if.bind="auth.isAdmin">
      <fa-inline-left icon="fa-magic"></fa-inline-left>
      Create
    </a>
  </header>
  
  <central-card-lg>
    <grid config.bind="gridConfig" show-headers.bind="false">
    </grid>
  </central-card-lg>
</template>
