<template>
  <header title="Dashboard" marker-type="home"
          subtitle.bind="user.displayName" is-home.bind="true">
  </header>

  <alert-bubble if.bind="numHubs === 0 && auth.isAdmin"
                type="danger" size="md" is-centered.bind="true" icon="fa-exclamation"
                actionable-href="hubs/create">
    <strong>The tracker has no hubs!</strong>
    <p>
      You must create a hub before you can track your compost
    </p>
  </alert-bubble>

  <alert-bubble if.bind="numGenerators === 0 && auth.isAdmin" 
                type="danger" size="md" is-centered.bind="true" icon="fa-exclamation"
                actionable-href="generators/create">
    <strong>The tracker has no generators!</strong>
    <p>
      You must create a generator before you can track your compost
    </p>
  </alert-bubble>

  <alert-bubble if.bind="numTechnicians === 0 && auth.isAdmin" 
                type="warning" size="md" is-centered.bind="true" icon="fa-exclamation"
                actionable-href="technicians?invite=true">
    <strong>The tracker has no other technicians!</strong>
    <p>
      You are a technician and may create work records to track your compost.
      You may also invite additional technicians to the tracker
    </p>
  </alert-bubble>

  <div class="container">
    <div class="row">

      <!-- START Mobile Layout  -->
      <div class="col-12 d-xl-none">
        <central-card-fill if.bind="auth.isAdmin" header="Awaiting Your Approval" header-icon.bind="pendingWorkList.gridConfig.rowProvider.totalRecords > 0 ? 'fa-exclamation-triangle text-danger' : 'fa-clock-o'">
          <compose view-model.bind="pendingWorkList"></compose>
        </central-card-fill>

        <div class="card-vertical-spacer" if.bind="auth.isAdmin"></div>

        <central-card-fill if.bind="auth.isAdmin" header="Needs Carbon" header-icon.bind="needsCarbonList.gridConfig.rowProvider.totalRecords > 0 ? 'fa-exclamation-triangle text-danger' : 'fa-wrench'">
          <compose view-model.bind="needsCarbonList"></compose>
        </central-card-fill>

        <div class="card-vertical-spacer" if.bind="auth.isAdmin"></div>

        <central-card-fill header="My Hubs" header-icon="fa-leaf" show.bind="myHubsList.gridConfig.rowProvider.totalRecords > 0">
          <compose view-model.bind="myHubsList"></compose>
        </central-card-fill>

        <div class="card-vertical-spacer" if.bind="auth.isAdmin"></div>

        <central-card-fill if.bind="auth.isAdmin" header="Active Hubs" header-icon="fa-leaf">
          <compose view-model.bind="activeHubsList"></compose>
        </central-card-fill>
      </div>
      <!-- END Mobile Layout  -->

      <!-- START XL Layout  -->
      <div class="col-xl-6 d-none d-xl-block" if.bind="auth.isAdmin">
        <central-card-fill header="Awaiting Your Approval" header-icon.bind="pendingWorkList.gridConfig.rowProvider.totalRecords > 0 ? 'fa-exclamation-triangle text-danger' : 'fa-clock-o'">
          <compose view-model.bind="pendingWorkList"></compose>
        </central-card-fill>

        <div class="card-vertical-spacer"></div>

        <central-card-fill header="Active Hubs" header-icon="fa-leaf">
          <compose view-model.bind="activeHubsList"></compose>
        </central-card-fill>
      </div>

      <div class="d-none d-xl-block" class.one-time="auth.isAdmin ? 'col-xl-6' : 'col-xl-12'">
        <central-card-fill if.bind="auth.isAdmin" header="Needs Carbon" header-icon.bind="needsCarbonList.gridConfig.rowProvider.totalRecords > 0 ? 'fa-exclamation-triangle text-danger' : 'fa-wrench'">
          <compose view-model.bind="needsCarbonList"></compose>
        </central-card-fill>

        <div class="card-vertical-spacer" if.bind="auth.isAdmin"></div>
        
        <central-card-fill header="My Hubs" header-icon="fa-leaf" show.bind="myHubsList.gridConfig.rowProvider.totalRecords > 0">
          <compose view-model.bind="myHubsList"></compose>
        </central-card-fill>
      </div>
      <!-- END Mobile Layout  -->
    </div>
  </div>
</template>
