<template>
  <h5 class="card-title text-center">It's ok...</h5>
  <p class="card-text text-center">
    We all forget sometimes.
    Provide your email and we'll send you an account recovery link
  </p>
  <form-wrap model.bind="requestBody" view-model.ref="form">
    <form-group type="email" for="email" placeholder="Enter your email" autofocus.bind="true">
      <div slot="label">
        Email
      </div>
    </form-group>

    <div slot="submit">
      <standard-button text="Reset Password" icon="fa-paperplane" 
                       type="primary btn-block" 
                       action.call="sendForgotPasswordEmail()"
                       is-working.bind="isWorking"></standard-button>
    </div>
  </form-wrap>
</template>
