<template>
  <form-wrap model.bind="requestBody" view-model.ref="form">
    <form-group type="email" for="email" placeholder="Enter your email" autofocus.bind="true">
      <div slot="label">
        Email
      </div>
    </form-group>
    <form-group type="password" for="password" placeholder="Enter your password">
      <div slot="label">
        Password
      </div>
    </form-group>

    <div slot="submit">
      <standard-button text="Sign In" icon="fa-sign-in" 
                       type="primary btn-block" 
                       action.call="signIn()"
                       is-working.bind="isWorking"></standard-button>
    </div>

    <div slot="secondary" class="submit-secondary">
      <a href="signin/forgot">
        Forgot your password?
      </a>
    </div>
  </form-wrap>
</template>
