<template>
  <require from="../bay-visual.less"></require>

  <div class="card card-bay">
    <div class="card-body text-center">
      <div>
        <h4 class="d-flex align-items-center justify-content-between">
          <div>
            ${bay.name}
          </div>
          <small if.bind="bay.activeBatches.length > 0 && !measurement.temperature">
            <i title="No Measurement" class="fa fa-fw fa-thermometer text-warning"></i>
          </small>
        </h4>
        <hr>
      </div>

      <div class="px-3" show.bind="bay.activeBatches.length > 0 || measurement.temperature">
        <form-wrap model.bind="measurement" no-submit.bind="true">
          <form-group orientation="horizontal" type="number"
                      placeholder="°F" for="temperature"
                      is-disabled.bind="isDisabled"
                      class="form-group-temperature">
            <div slot="label">
              <fa-inline-left icon="fa-fw fa-thermometer"></fa-inline-left> 
            </div>
            <div slot="help" class="text-warning" 
                 show.bind="bay.activeBatches.length > 0 && !measurement.temperature">
              No Measurement
            </div>
          </form-group>
        </form-wrap>
      </div>

      <div class="action-wrap">
        <fa-check check-icon="fa-arrow-up" model.bind="actions" for="isFilled"
                  is-disabled.bind="isDisabled || (!isDisabled && !canFill)"
                  if.one-time="bay.isStart" on-changed.call="actionsChanged()">
          <small if.bind="!actions.isFilled">Fill</small>
          <small if.bind="actions.isFilled">
            <strong>Filled</strong>
          </small>
        </fa-check>

        <fa-check check-icon="fa-repeat" model.bind="actions" for="isHarvested"
                  is-disabled.bind="isDisabled || !canTurn"
                  if.one-time="bay.isHarvest() && !bay.isHolding"
                  on-changed.call="actionsChanged()">
          <small if.bind="!actions.isHarvested">Harvest</small>
          <small if.bind="actions.isHarvested">
            <strong>Harvested</strong>
          </small>
        </fa-check>

        <div class="w-50 input-num-buckets" show.one-time="bay.isHolding">
          <form-wrap model.bind="actions" no-submit.bind="true">
            <form-group orientation="horizontal" placeholder="0" type="number"
                        for="bucketsHarvested"
                        is-disabled.bind="isDisabled || !canTurn"
                        on-changed.call="actionsChanged()">
              <div slot="label">
                <fa-inline-left icon="fa-hashtag"></fa-inline-left> 
              </div>
              <div slot="help">
                <small if.bind="!actions.bucketsHarvested || actions.bucketsHarvested === '0'"
                      class="text-muted">
                  No Harvest
                </small>
                <small if.bind="actions.bucketsHarvested > 0">
                  <strong>${actions.bucketsHarvested} Buckets</strong>
                </small>
              </div>
            </form-group>
          </form-wrap>
        </div>

        <fa-check check-icon="fa-question" model.bind="actions" for="isEmptied"
                  is-disabled.bind="isDisabled || !actions.bucketsHarvested || actions.bucketsHarvested === 0"
                  if.one-time="bay.isHolding" on-changed.call="actionsChanged()">
          <small if.bind="!actions.isEmptied">Empty?</small>
          <small if.bind="actions.isEmptied">
            <strong>Emptied</strong>
          </small>
        </fa-check>

        <fa-check check-icon="fa-repeat" model.bind="actions" for="turnedInto"
                  when-checked.bind="d" is-disabled.bind="isDisabled || !canTurn"
                  repeat.for="d of bay.destinations" on-changed.call="actionsChanged()">
          <small if.bind="actions.turnedInto !== d">
            <i class="fa fa-arrow-right fa-fw"></i>
            ${bayIdToName[d]}
          </small>
          <small if.bind="actions.turnedInto === d">
            <strong>
              <i class="fa fa-arrow-right fa-fw"></i>
              ${bayIdToName[d]}
            </strong>
          </small>
        </fa-check>
      </div>
    </div>
  </div>
</template>
