.bay-wrap {
  // work-bay {
    .card-bay {
      display: inline-block;
      margin: 1rem;
    }
  // }

  .holding-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .regular-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
