<template>
  <div id="tooltip-content-${id}" style="display:none;">
    <slot name="tooltip"></slot>
  </div>

  <div id.one-time="id" data-html="true" style="display: inline-block;"
      data-toggle="tooltip" data-placement="top" data-title.bind="content">
    <slot name="wrapped"></slot>
  </div>
</template>
  