<template>
  <require from="../button-wrap.less"></require>

  <standard-button type="secondary" action.bind="action" href.bind="href"
                   is-disabled.bind="isDisabled" is-working.bind="isWorking"
                   size.bind="size" icon="fa-undo" text="Cancel"></standard-button>
</template>
