<template>
  <require from="./fa-radio.less"></require>

  <label class="fa-check-wrap" click.delegate="toggleValue()">
    <span class="fa-stack">
      <i class="fa fa-stack-2x" class.bind="value ? 'fa-circle text-' + type : 'fa-circle-thin'"></i>
      <i class="fa ${checkIcon} fa-stack-1x" class.bind="value ? 'fa-inverse' : ''"></i>
      <input class="input-fa-checkbox" type="checkbox" checked autocomplete="off">
    </span>
    <slot><!-- label --></slot>
  </label>
</template>
