@import '../../../less/variables';

@media(min-width:@sm) {
  header {
    h2 {
      flex-direction: row!important;

      .fa-stack {
        align-self: unset!important;
      }

      .title {
        text-align: left!important;
        align-self: center;
        padding-left: 1rem;
      }

      .action-wrap {
        margin-left: auto;
      }

      .help-wrap {
        margin-top: 0!important;
        min-height: unset!important;
      }
    }

    .breadcrumb {
      padding-left: -100px;
    }
  }
}

header {
  .header {
    padding-top: 2rem;
    padding-bottom: 2rem;

    h2 {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      .fa-stack {
        align-self: center;
      }

      .title {
        text-align: center;
      }

      .help-wrap {
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
        min-height: 3rem;
      }
    }

    .marker-icon {
      &.hub {
        color: @marker-darkpurple;
      }

      &.collection-point {
        color: @marker-red;
      }

      &.generator {
        color: @marker-blue;
      }

      &.residential {
        color: @marker-green;
      }

      &.work {
        color: var(--blue);
      }

      &.home {
        color: var(--green);
      }
    }

    .breadcrumb {
      background: transparent;
      margin-top: -20px;
    }
  }

  .action-wrap {
    .btn:not(:first-child) {
      margin-left: 0.5rem;
    }
  }
}
