<template>
  <require from="./header.less"></require>
  
  <div class="header">
    <h2>
      <span class="fa-stack fa-lg marker-icon" class.bind="markerType">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-inverse fa-stack-1x" class.bind="icon"></i>
      </span>
      <div class="title">
        ${title}
        <br if.bind="subtitle">
        <small class="subtitle text-muted" if.bind="subtitle" innerhtml.bind="subtitle | sanitizeHTML">
        </small>
      </div>
      <div class="action-wrap align-self-center">
        <slot></slot>
      </div>
      <div class="help-wrap">
        <button title="Help" if.bind="hasHelp" class="btn-transparent" click.delegate="toggleHelp()">
          <i class="fa fa-lg fa-question-circle text-info"></i>
        </button>
      </div>
    </h2>

    <nav class="d-none d-md-block" aria-label="breadcrumb" if.bind="!isHome">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/" title="Home"><i class="fa fa-home fa-fw"></i></a>
        </li>
        <li class="breadcrumb-item" repeat.for="b of breadcrumbs">
          <a title.bind="b.title" href.bind="b.href">${b.title | maxLength:20}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <a title.bind="title">${title}</a>
        </li>
      </ol>
    </nav>

    <alert-bubble size="lg" is-centered.bind="true" icon="fa-question" 
                  show.bind="hasHelp && isHelpToggled"
                  icon-type="info">
      <div><slot name="help"></slot></div>
    </alert-bubble>
  </div>
  
</template>
