<template>
  <div class="d-flex align-items-center">
    <div>
      <fa-inline-left if.bind="generator.generatorType === 'Residential'" 
                      icon="fa-lg fa-home text-primary" title="Residential"></fa-inline-left>
      <fa-inline-left if.bind="generator.generatorType === 'Restaurant'" 
                      icon="fa-lg fa-building text-primary" title="Restaurant"></fa-inline-left>
    </div>
    <div>
      ${generator.name}
      <small if.bind="generator.address.primaryLine">
        <br/>
        ${generator.address.primaryLine} ${generator.address.secondaryLine}
        ${generator.address.city}, ${generator.address.state} ${generator.address.zip}
      </small>
    </div>
  </div>
</template>
