<template>
  <require from="./index.less"></require>

  <busy-overlay is-visible.bind="busyService.isBusy"></busy-overlay>
  <side-nav if.bind="!isLoading">
    <div slot="nav-items">
      <side-nav-item title="Home" icon="fa-home" href="/">
        <div slot="badge">
          <span class="badge badge-danger" if.bind="hasAlert && auth.isAdmin"
                title="You have actions that require your attention">
            <i class="fa fa-exclamation"></i>
          </span>
        </div>
      </side-nav-item>
      <side-nav-item title="Hubs" title-icon="fa-list" icon="fa-leaf" href="/hubs">
        <div slot="nav-sub-items" if.bind="auth.isAdmin">
          <side-nav-sub-item title="Create" icon="fa-plus" href="/hubs/create"></side-nav-sub-item>
        </div>
      </side-nav-item>
      <side-nav-item title="Generators" title-icon="fa-list" icon="fa-cutlery" href="/generators">
        <div slot="nav-sub-items" if.bind="auth.isAdmin">
          <side-nav-sub-item title="Create" icon="fa-plus" href="/generators/create"></side-nav-sub-item>
        </div>
      </side-nav-item>
      <side-nav-item title="Technicians" title-icon="fa-list" icon="fa-users" href="/technicians" if.bind="auth.isAdmin">
        <div slot="nav-sub-items">
          <side-nav-sub-item title="Invite" icon="fa-envelope-o" href="/technicians?invite=true"></side-nav-sub-item>
        </div>
      </side-nav-item>
      <side-nav-item title="Work Records" title-icon="fa-list" icon="fa-clock-o" href="/work" if.bind="auth.isAdmin">
      </side-nav-item>
      <side-nav-item title="Profile" icon="fa-user" href="/technicians/read/${auth.currentUser.id}">
        <div slot="badge">
          <span class="badge badge-success">
            <i class="fa fa-lock"></i>
          </span>  
        </div>
        <div slot="nav-sub-items">
          <side-nav-sub-item title="Settings" href="/account"></side-nav-sub-item>
        </div>
        <div slot="nav-sub-items">
          <side-nav-sub-item title="Sign Out" action.call="signOut()"></side-nav-sub-item>
        </div>
      </side-nav-item>
    </div>
  </side-nav>
  <div class="page-host" if.bind="!isLoading">
  
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="http://www.food2soil.net" target="_blank">
        <img src="../../../img/brand.png" width="30" height="30" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="fa fa-fw fa-home"></i>
              Home
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-fw fa-leaf"></i>
              Hubs
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/hubs">
                <i class="fa fa-fw fa-list"></i>
                List
              </a>
              <a class="dropdown-item" href="/hubs/create">
                <i class="fa fa-fw fa-plus"></i>
                Create
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-fw fa-cutlery"></i>
              Generators
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/generators">
                <i class="fa fa-fw fa-list"></i>
                List
              </a>
              <a class="dropdown-item" href="/generators/create">
                <i class="fa fa-fw fa-plus"></i>
                Create
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-fw fa-users"></i>
              Technicians
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/technicians">
                <i class="fa fa-fw fa-list"></i>
                List
              </a>
              <a class="dropdown-item" href="/technicians?invite=true">
                <i class="fa fa-fw fa-envelope-o"></i>
                Invite
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/work">
              <i class="fa fa-fw fa-clock-o"></i>
              Work Records
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-fw fa-user"></i>
              Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/technicians/read/${auth.currentUser.id}">
                <i class="fa fa-fw fa-user"></i>
                Profile
              </a>
              <a class="dropdown-item" href="/account">
                <i class="fa fa-fw fa-cog"></i>
                Settings
              </a>
              <a class="dropdown-item" href="javascript:void(0)" click.delegate="signOut()">
                <i class="fa fa-fw fa-sign-out"></i>
                Sign Out
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
        <router-view></router-view>
    </div>
  </div>
</template>
