<template>
  <header title="Account Settings" subtitle.bind="generalInformationEdit.displayName" icon="fa-user" >
  </header>

  <div class="container w-100">
    <div class="row">
      <div class="col-12 col-md-6">
        <central-card-fill>
          <form-header>
            <div slot="title">
              <i class="fa fa-fw fa-address-card-o"></i>
              General Information
            </div>
          </form-header>
          <form-wrap model.bind="generalInformationEdit" view-model.ref="generalInformationForm">
            <form-group type="text" for="firstName" placeholder="Enter your first name">
              <div slot="label">
                First Name
              </div>
            </form-group>
            <form-group type="text" for="lastName" placeholder="Enter your last name">
              <div slot="label">
                Last Name
              </div>
            </form-group>
            <form-group type="email" for="email" placeholder="Enter your email">
              <div slot="label">
                Email
              </div>
            </form-group>
            <form-group type="phone" for="phone" placeholder="Enter your phone number">
              <div slot="label">
                Phone
              </div>
            </form-group>
            <div slot="submit">
              <standard-button text="Update" icon="fa-save" 
                               type="primary btn-block" 
                               action.call="updateGeneralInfo()"
                               is-working.bind="isUpdating"
                               is-disabled.bind="isChanging"></standard-button>
            </div>
          </form-wrap>
        </central-card-fill>
      </div>
      <div class="col-12 col-md-6">
        <central-card-fill>
          <form-header>
            <div slot="title">
              <i class="fa fa-fw fa-key"></i>
              Credentials
            </div>
          </form-header>
          <form-wrap model.bind="changePasswordDetails" view-model.ref="changePasswordForm">
            <form-group type="password" for="currentPassword" placeholder="Enter your current password">
              <div slot="label">
                Current Password
              </div>
            </form-group>
            <form-group type="password" for="newPassword" placeholder="Enter your new password">
              <div slot="label">
                New Password
                <password-help></password-help>
              </div>
            </form-group>
            <form-group type="password" for="verifyPassword" placeholder="Confirm your new password">
              <div slot="label">
                Verify New Password
              </div>
            </form-group>
            <div slot="submit">
              <standard-button text="Change Password" icon="fa-save" 
                               type="primary btn-block" 
                               action.call="changePassword()"
                               is-working.bind="isChanging"
                               is-disabled.bind="isUpdating"></standard-button>
            </div>
          </form-wrap>
        </central-card-fill>
      </div>
    </div>
  </div>
</template>
