<template>
  <require from="./help-tooltip.less"></require>

  <div id="tooltip-content" style="display:none;">
    <slot></slot>
  </div>

  <i id.bind="id" class="fa fa-question-circle text-info" data-html="true"
      data-toggle="tooltip" data-placement.bind="alignment" data-title.bind="content"
      class.bind="size ? 'fa-' + size : ''"></i>
</template>
