<template>
  <div class="td-filler-padding d-flex flex-column align-items-center">
    <p>
      <button-wrap type="primary" size="sm" action.call="resendInvite(row.id)" is-disabled.bind="isDeleting" is-working.bind="isResending">
        <fa-inline-left icon="fa-paper-plane"></fa-inline-left>
        Resend
      </button-wrap>
    </p>
    <button-wrap type="danger" size="sm" action.call="deleteInvite(row.id)" is-disabled.bind="isResending" is-working.bind="isDeleting">
      <fa-inline-left icon="fa-trash"></fa-inline-left>
      Delete
    </button-wrap>
  </div>
</template>
