<template>
  <div class="td-filler-padding">
    <span if.bind="row.roles.length === 0">None Selected</span>
    <span if.bind="row.roles.length > 0"
          innerhtml.bind="roles.join('<br/>') | sanitizeHTML">
    </span>
  </div>
</template>
  