<template>
  <div class="td-filler-padding">
    <span if.bind="row.hubs.length === 0">None Selected</span>
    <span if.bind="row.hubs.length > 0"
          innerhtml.bind="hubNames.join('<br/>') | sanitizeHTML"></span>
  </div>
</template>
  