form-group-date {
  .form-group-enabled {
    .form-control:disabled, .form-control[readonly] {
      background-color: unset;
    }
  }

  .form-group-disabled {
    .form-control:focus {
      border-color: #ced4da;
      outline: unset;
      box-shadow: unset;
    }
  }
}
