<template>
    <require from="../form-group.less"></require>
    <require from="./form-group-date.less"></require>

    <div class="form-group" class.bind="isDisabled ? 'form-group-disabled' : 'form-group-enabled'">
      <div class="form-group-${orientation}">
        <label for.one-time="id" show.bind="!noLabel">
          <slot name="label"></slot>
        </label>

        <abp-datetime-picker model.bind="value" options.bind="options" with-date-icon="false" readonly.bind="true"></abp-datetime-picker>
      </div>

      <small id.bind="id + 'Help'" class="form-group-help form-text text-muted">
        <slot name="help"></slot>
      </small>
    </div>
</template>
