<template>
  <div class="container mt-5 container-low">
    <central-card-sm>
      <div if.bind="isErrored">
        <h4 class="card-title text-center">
          Oops...
        </h4>
        <p class="card-text text-center">
          Looks like this Reset Password URL is either expired or invalid.  Please verify this URL is the same as the one in your reset password email.
        </p>
        <p class="card-text text-center">
          If it's been awhile since you originally requested to reset your password, your request is probably expired.
        </p>
        <hr>
        <p class="card-text text-center">
          <a href="signin/forgot">Request a new Password Reset</a>
        </p>
      </div>

      <div if.bind="!isErrored">
        <p class="card-text text-center">
          Lets get you back in the action...
        </p>
        <form-wrap model.bind="changePasswordDetails" view-model.ref="changePasswordForm">
          <form-group type="password" for="newPassword" placeholder="Enter your new password">
            <div slot="label">
              New Password
              <password-help></password-help>
            </div>
          </form-group>
          <form-group type="password" for="verifyPassword" placeholder="Confirm your new password">
            <div slot="label">
              Verify New Password
            </div>
          </form-group>
          <div slot="submit">
            <standard-button text="Reset Password" icon="fa-check" 
                             type="primary btn-block" 
                             action.call="resetPassword()"
                             is-working.bind="isWorking"></standard-button>
          </div>
        </form-wrap>
      </div>
    </central-card-sm>
  </div>
</template>
  