<template>
  ${technician.displayName}
  <br/>
  <small if.bind="technician.phone">
    <i class="fa fa-inline-left fa-phone"></i>
    ${technician.phone}<br/>
  </small>
  <small if.bind="technician.email">
    <i class="fa fa-inline-left fa-envelope-o"></i>
    ${technician.email}<br/>
  </small>
</template>
