@import '../../../less/variables.less';

.bg-test-active {
  background: red !important;
}

@-moz-document url-prefix() {
  grid {
    .table-wrap {
      .table {
        tr {
          height: 100%;
        }
        
        td {
          height: 100%!important;
        }
      }
    }
  }
}

grid {
  .table-wrap {
    margin-bottom: 1rem;
    box-shadow: @card-box-shadow;

    .table {
      margin-bottom: 0;

      tr {
        &.tr-clickable{
          &:hover {
            background: rgba(0, 123, 255, 0.25);
            cursor: pointer;
            
            &.active {
              // background: red;
            }
          }

          &.active {
            // background: red;
          }
        }
      }

      td {
        padding: 0px;
        height: 1px;
      }
    }
  }

  .busy-overlay, .busy-spinner-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    margin-left: -1.25rem;
  }

  .busy-overlay {
    z-index: 99;
    background: lightgray;
    opacity: 0.5;
  }

  .busy-spinner-overlay {
    z-index: 100;
    background: transparent;
  }

  .pagination-wrap {
    .page-item {
      box-shadow: @card-box-shadow;
    }
    .page-link {
      &:focus {
        box-shadow: unset;
      }
    }
  }

  .dropdown-item {
    cursor: pointer;
  }

  td {
    &.td-fit-content {
      width: 1%;
    }

    &.td-no-wrap {
      white-space: nowrap;
    }
  }

  th {
    &.th-no-wrap {
      white-space: nowrap;
    }
  }

  .grid-input-search {
    box-shadow: @card-box-shadow;
  }

  // Row click classes
  
}
