<template>
  <require from="./grid.less"></require>
  <require from="../../../less/app.less"></require>

  <div>
    <div if.bind="isBusy">
      <div class="card busy-overlay"></div>
      <div class="card busy-spinner-overlay d-flex justify-content-center">
        <i class="fa fa-fw fa-spin fa-spinner fa-4x align-self-center"></i>
      </div>
    </div>
  
    <slot name="header"></slot>
    
    <input class="form-control mb-3 grid-input-search" placeholder="Search..." autocomplete
           if.bind="searchGetters.length > 0 && rowProvider.totalRecords > 0" value.bind="searchString"/>

    <div class="table-responsive table-wrap">
      <table class="table table-striped table-bordered" ref="tableElement">
        <thead if.bind="showHeaders && rowProvider.totalRecords > 0">
          <tr>
            <th scope="col" repeat.for="column of columns" class.bind="column.thClass">${column.title}</th>
          </tr>
        </thead>
        <tbody if.bind="visibleRows.length === 0">
          <tr >
            <td colspan.bind="columns.length">
              <td-filler is-centered-h.bind="column.centerHorizontally">
                <div class="td-filler-padding">
                  ${noRowsMessage}
                </div>
              </td-filler>
            </td>
          </tr>
        </tbody>
        <tbody if.bind="visibleRows.length > 0">
          <tr repeat.for="row of visibleRows"
              class.bind="(rowClick ? 'tr-clickable' : '') + ' ' + (row.__gridRow_isActive ? 'active ' + rowClick.activeClasses : '')">
            <td repeat.for="column of columns" class.bind="column.tdClass">
              <td-filler is-centered-h.bind="column.centerHorizontally"
                         href.one-time="rowClick === null ? null : rowClick.getHref(row)"
                         action.call="rowClick === null ? null : handleRowClick(row, rows)">
                <compose if.bind="column.ViewModel" view-model.bind="column.createTemplate()" model.bind="{extraData: column.extraData, row: row}"></compose>
                <compose if.bind="!column.ViewModel" style="width: 100%" view.bind="column.view" view-model.bind="{self: column.templateBindingContext, row: row}"></compose>
              </td-filler>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination-wrap d-flex" if.bind="visiblePages.length > 1">
      <div class="mr-auto">
        Showing ${(currentPage - 1) * rowProvider.numPerPage + 1} - ${currentPage * rowProvider.numPerPage} of ${rowProvider.totalRecords}
      </div>
      <div class="ml-auto">
        <ul class="pagination">
          <li class="page-item" if.bind="currentPage > 1 && numPages > 3">
            <a class="page-link" href="javascript:void(0)" click.delegate="setPageTo(1)">
              <i class="fa fa-chevron-left mr-2"></i>1 ...
            </a>
          </li>
          <li class="page-item" repeat.for="value of visiblePages"
              class.bind="value === currentPage ? 'active' : ''">
            <a class="page-link" href="javascript:void(0)" click.delegate="setPageTo(value)">
              ${value}
            </a>
          </li>
          <li class="page-item" if.bind="currentPage < rowProvider.numPages && numPages > 3">
            <a class="page-link" href="javascript:void(0)" click.delegate="setPageTo(rowProvider.numPages)">
              ... ${rowProvider.numPages}<i class="fa fa-chevron-right ml-2"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
