<template>
  <require from="./home.less"></require>

  <welcome-overlay></welcome-overlay>

  <info-drawer is-open.two-way="isDrawerOpen"></info-drawer>
  
  <div class="dashboard">
    <leaflet on-marker-click.call="showDrawer()" markers.bind="markers"
              view-model.ref="map"></leaflet>
  </div>
</template>
  