@import '../../../less/variables.less';

@media(max-width: @sm) {
  .leaflet-container {
    margin-top: 0!important;
  }
}

.dashboard {
  .leaflet-container {
    height: 100vh;
    width: calc(100% + (2 * @container-padding));
    margin-left: -1 * @container-padding;
    margin-top: -1 * @container-padding;
    margin-bottom: -1 * @container-padding;
  }
}
