<template>
  <require from="./form-wrap.less"></require>
  
  <form novalidate.bind="novalidate">
    <slot></slot>
    <hr if.bind="!noSubmit">
    <slot name="submit"></slot>
    <div class="w-100 text-center" show.bind="!noSubmit">
      <slot name="secondary"></slot>
    </div>
  </form>
</template>
