form-wrap {
  // NOTE: START of styles to enable form-group-textarea to fill the height of its parent
  flex: 1;

  form {
    height: 100%;
  }
  // NOTE: END of styles to enable form-group-textarea to fill the height of its parent

  form-header:not(:first-child) {
    div {
      margin-top: 2rem;
    }
  }

  .submit-secondary {
    margin-top: 1.5rem;
  }
}
