list-group {

  // Item clicks
  .list-group-item {
    padding: 0;

    &.list-group-item-clickable {
      &:hover {
        background: rgba(0, 123, 255, 0.25);
        cursor: pointer;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        border-top: 1px solid rgba(0, 0, 0, 0);
      }
    }

    >* {
      padding: 0.75rem 1.25rem;
    }

    >a {
      display: block;
      height: 100%;
      width: 100%;
      text-decoration: none;
      color: unset;
    }
  }
}
