<template>
  <require from="./list-group.less"></require>

  <central-card-fill header.bind="title" header-icon.bind="titleIcon" has-no-body.bind="true">
    <div slot="toolbar">
      <slot></slot>
    </div>
    <ul class="list-group list-group-flush">
      <li if.bind="!items || items.length === 0" class="list-group-item">
        <div class="d-flex justify-content-center">
          Click the <strong><i class="fa fa-plus fa-fw text-success"></i></strong> to add items to this list
        </div>
      </li>
      <li class="list-group-item" repeat.for="item of items"
          class.bind="(itemClick && itemClick.getHref(item) ? 'list-group-item-clickable' : '') + ' ' + (item.__gridRow_isActive ? 'active ' + itemClick.activeClasses : '')">
          <a href.bind="itemClick === null ? null : itemClick.getHref(item)"
             action.call="itemClick === null ? null : handleItemClick(item)">
            <compose view-model.bind="newVmInstance()" model.bind="item"></compose>    
          </a>
      </li>
    </ul>
  </central-card-fill>
</template>
  