<template>
  <require from="./busy-overlay.less"></require>
  
  <div if.bind="isVisible">
    <div class="busy-overlay">
      <h2 class="text-light">
        <fa-inline-left icon="fa-spin fa-spinner"></fa-inline-left>
        Loading...
      </h2>
    </div>
  </div>
</template>
