<template>
  <require from="../side-nav.less"></require>
  <li class="sub-nav-item nav-item">
    <a class="sub-nav-link nav-link" href.bind="href"
        click.delegate="action ? action() : 'javascript(void);'">
      <fa-inline-left if.bind="icon" icon.bind="icon"></fa-inline-left>
      ${title}
    </a>
  </li>
</template>
