<template>
    <header title.bind="'Edit Work - ' + read.hub.name" marker-type="work"
            subtitle.bind="read.technician.displayName + ' - ' + read.timeSpent + ' hours'"
            has-help.bind="true">
    <save-button action.call="save()" is-disabled.bind="isSaving" is-working.bind="isSaving"></save-button>
    <div slot="help">
      <p>
        Record any measurements or actions and then click the
        <strong class="text-success">Save</strong>
        button
      </p>
    </div>
  </header>

  <div class="container w-100">
    <div class="row">
      <div class="col-12 col-md-6">
        <central-card-fill>
          <form-wrap model.bind="edit" view-model.ref="infoForm" no-submit.bind="true">
            <form-header>
              <div slot="title">
                <i class="fa fa-fw fa-user"></i>
                Technician and Hours
              </div>
            </form-header>
            <form-group-date for="date" min-date.bind="minNewWorkDate">
              <div slot="label">
                Date
              </div>
              <div slot="help">
                Hub's last work record: ${!read.lastWorkDate ? 'N/A' : read.lastWorkDate.toLocaleDateString()}
              </div>
            </form-group-date>
            <form-group-select placeholder="Select a Technician..." autofocus.bind="true" for="technicianId"
                               select-options.bind="technicianSelectOptions">
              <div slot="label">
                Technician
              </div>
            </form-group-select>
            <form-group placeholder="# Hours" for="hoursSpent">
              <div slot="label">
                Hours Worked
              </div>
            </form-group>
          </form-wrap>
        </central-card-fill>
      </div>

      <div class="card-vertical-spacer d-md-none"></div>
    
      <div class="col-12 col-md-6">
        <central-card-fill fill-height.bind="true">
          <form-header>
            <div slot="title">
              <i class="fa fa-fw fa-leaf"></i>
              Hub Details
            </div>
          </form-header>
          <form-wrap model.bind="edit" view-model.ref="notesForm" no-submit.bind="true">
            <form-group-textarea placeholder="Enter any notes for this work record" for="notes" rows="7">
              <div slot="label">
                Notes
              </div>
            </form-group-textarea>
            <fa-check check-icon="fa-exclamation" for="isCarbonNeeded" orientation="horizontal">
              <span if.bind="!edit.isCarbonNeeded">
                Select if the site is low on carbon
              </span>
              <span if.bind="edit.isCarbonNeeded">
                <strong>Site needs more carbon</strong>
              </span>
            </fa-check>
          </form-wrap>
        </central-card-fill>
      </div>
    </div>

    <div class="card-vertical-spacer"></div>

    <central-card-fill header="Bays" header-icon="fa-cubes">
      <div slot="help" style="text-align:unset!important">
        <h4>Measurements</h4>
        <p class="text-left">
          To record a measurement for a bay, enter the temperature in the textbox marked with the thermometer
          (<i class="fa fa-fw fa-thermometer"></i>).
          Bays that do not have any active batches will not have a measurement input
        </p>
        <h4>Actions</h4>
        <p class="text-left">
          Each bay may have several actions that can be performed on it.
          If an action is not allowed at this time, that action's selector will be disabled.
        </p>
        <p class="text-left">
          For example, if a bay has no active batches in it, then its
          <strong>
            <span class="fa-stack">
              <i class="fa fa-stack-2x fa-circle-thin"></i>
              <i class="fa fa-repeat fa-stack-1x"></i>
            </span>
            Turn
          </strong>
          selector(s) will be disabled becuase you cannot turn a bay that has no batches
        </p>
        <h5>Turning</h5>
        <p class="text-left">
          Some bays may have more than one possible destination.  Make sure to select the correct destination as indicated below each 
          <strong>
            <span class="fa-stack">
              <i class="fa fa-stack-2x fa-circle-thin"></i>
              <i class="fa fa-repeat fa-stack-1x"></i>
            </span>
            Turn
          </strong>
          selector 
          (ex. <i class="fa fa-fw fa-arrow-right"></i>H1)
        </p>
        <h5>Harvesting</h5>
        <p class="text-left">
          When you harvest from a bay, indicate the number of bags that were sifted from the bay.
          If a bay was completely emptied, indicate that with the
          <strong>
            <span class="fa-stack">
              <i class="fa fa-stack-2x fa-circle-thin"></i>
              <i class="fa fa-question fa-stack-1x"></i>
            </span>
            Empty
          </strong> 
          selector
        </p>
      </div>
      <compose view-model.bind="workBaysVm" model.bind="workBaysModel"></compose>
    </central-card-fill>
  </div>
</template>
