<template>
  <header title="Work Records" marker-type="work">
  </header>

  <central-card-fill has-slot-header.bind="true" header-icon="fa-users">
    <span slot="header">
      All Work <span class="text-primary">(${hoursCurrentMonth} Hours in ${monthFilter.date | date:'MMMM'})</span>
    </span>
    <form-wrap no-submit.bind="true">
      <form-group-date model.bind="monthFilter" for="date" view-mode="months"
                        format="MMMM - YYYY" no-label.bind="true"
                        on-changed.call="updateList()">
      </form-group-date>
    </form-wrap>
    <grid config.bind="gridConfig"
          no-rows-message="You have no recorded work"></grid>
  </central-card-fill>
</template>