<template>
  <header title="Work" marker-type="work"
          subtitle.bind="read.technician.displayName + ' - ' + read.timeSpent + ' hours'"
          has-help.bind="true" breadcrumbs.bind="breadcrumbs">
    <standard-button text="Approve" icon="fa-check" 
                     type="success" 
                     action.call="approve()"
                     is-working.bind="isApproving"
                     is-disabled.bind="isDeleting"
                     if.bind="!read.isApproved && auth.isAdmin"></standard-button>
    <standard-button text="Undo" icon="fa-eraser" 
                     type="success" 
                     action.call="undo()"
                     is-working.bind="isUndoing"
                     is-disabled.bind="!canUndo"
                     if.bind="read.isApproved && auth.isAdmin"></standard-button>
    <edit-button href.bind="'work/edit/' + read.id" is-disabled.bind="!canEditOrDelete || isDeleting"></edit-button>
    <delete-button action.call="delete()" is-disabled.bind="!canEditOrDelete || isApproving"
                   is-working.bind="isDeleting"></delete-button>
    <div slot="help">
      <p if.bind="read.isApproved && !read.canUndo">
        You may only 
        <strong class="text-success">Undo</strong>
        the most recently approved Work Record on a hub.
        Additionally, you may not Undo a Work Record if another Work Record is pending on a hub.
      </p>
      <p if.bind="read.isApproved && !read.canUndo">
        You may need to Undo or Delete other Work Records before you can Undo this one.
      </p>
      <p if.bind="read.isApproved">
        <strong class="text-primary">Edit</strong>
        and 
        <strong class="text-danger">Delete</strong>
        are disabled because this Work Record has alredy been approved.
        <br/>
        Undo the approval to access this functionality.
      </p>
      <p if.bind="!read.isApproved">
        <strong>Here you can review submitted Work Records.</strong>
      </p>
      <p if.bind="!read.isApproved">
        <strong class="text-success">Approving</strong>
        will process any Fills, Turns, or Harvests that are associated with this Work Record
      </p>
      <p if.bind="!read.isApproved">
        If there any problems with the Work Record you may
        <strong class="text-primary">Edit</strong>
        or
        <strong class="text-danger">Delete</strong>
        it.
      </p>
    </div>
  </header>

  <alert-bubble if.bind="read.isCarbonNeeded && !read.isApproved" size="md" 
                type="danger" icon-type="danger"
                icon="fa-exclamation" is-centered.bind="true">
    <strong>Carbon Needed</strong>
  </alert-bubble>

  <div class="container w-100">
    <div class="row">
      <div class="col-12 col-md-6">
        <central-card-fill header="Technician and Hours" header-icon="fa-user">
          <form-wrap model.bind="read" view-model.ref="infoForm" no-submit.bind="true">
            <form-group-date for="date" is-disabled.bind="true">
              <div slot="label">
                Date
              </div>
            </form-group-date>
            <form-group-select placeholder="Select a Technician..." autofocus.bind="true" 
                               model.bind="read.technician" for="id"
                               select-options.bind="technicianSelectOptions"
                               is-disabled.bind="true">
              <div slot="label">
                Technician
              </div>
            </form-group-select>
            <form-group placeholder="# Hours" for="timeSpent" is-disabled.bind="true">
              <div slot="label">
                Hours Worked
              </div>
            </form-group>
          </form-wrap>
        </central-card-fill>
      </div>
      
      <div class="card-vertical-spacer d-md-none"></div>

      <div class="col-12 col-md-6">
        <central-card-fill header="Hub and Misc" header-icon="fa-leaf" fill-height.bind="true">
          <form-wrap model.bind="read" view-model.ref="notesForm" no-submit.bind="true">
            <form-group-textarea placeholder="Enter any notes for this work record" for="notes" rows="6"
                                 is-disabled.bind="true">
              <div slot="label">
                Notes
              </div>
            </form-group-textarea>
            <fa-check check-icon="fa-exclamation" for="isCarbonNeeded" orientation="horizontal"
                      is-disabled.bind="true" type="danger">
              <span if.bind="!read.isCarbonNeeded">
                Select if the hub is low on carbon
              </span>
              <span if.bind="read.isCarbonNeeded">
                <strong>Hub needs more carbon</strong>
              </span>
            </fa-check>
          </form-wrap>
        </central-card-fill>
      </div>
    </div>

    <div class="card-vertical-spacer"></div>

    <central-card-fill header="Work Performed" header-icon="fa-wrench">
      <compose view-model.bind="workBaysVm" model.bind="workBaysModel"></compose>
    </central-card-fill>
    
  </div>
</template>
