<template>
  <require from="../button-wrap.less"></require>
  
  <button-wrap if.bind="!href" type.bind="type" action.bind="action"
               is-disabled.bind="isDisabled" is-working.bind="isWorking"
               size.bind="size">
    <span if.bind="size === 'sm'">
      <i class="fa fa-fw" class.bind="icon"></i>
    </span>
    <span if.bind="size !== 'sm'">
      <fa-inline-left icon.bind="icon"></fa-inline-left>
      ${text}
    </span>
  </button-wrap>

  <div if.bind="href" class="a-wrap" class.bind="isDisabled ? 'disabled' : ''">
    <a class="btn btn-${type} btn-${size}" href.bind="href"
      class.bind="isDisabled ? 'disabled' : ''"
      aria-disabled.bind="isDisabled">
      <span if.bind="size === 'sm'">
        <i class="fa fa-fw" class.bind="icon"></i>
      </span>
      <span if.bind="size !== 'sm'">
        <fa-inline-left icon.bind="icon"></fa-inline-left>
        ${text}
      </span>
    </a>
  </div>
</template>
