<template>
    <require from="../form-group.less"></require>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" checked.bind="value" id.one-time="id">
        <label class="form-check-label" for.one-time="id">
          <slot name="label"></slot>
        </label>
      </div>

      <small id.bind="id + 'Help'" class="form-text text-muted">
        <slot name="help"></slot>
      </small>
    </div>
</template>
