<template>
  <dialog-wrap>
    <div slot="title">
      <fa-inline-left icon="fa-address-card-o"></fa-inline-left>
      Edit ${contact.name}
    </div>

    <div slot="body">
      <form-wrap model.bind="contactBody" view-model.ref="form" no-submit.bind="true">
        <form-group placeholder="Ex. Jane Smith" for="name">
          <div slot="label">
            Name
          </div>
        </form-group>
        <form-group placeholder="Ex. Garden Coordinator" for="title">
          <div slot="label">
            Title
          </div>
        </form-group>
        <form-group placeholder="Ex. (123) 456-7890" for="phone" type="phone">
          <div slot="label">
            Phone
          </div>
        </form-group>
        <form-group placeholder="Ex. jsmith@community-garden.org" for="email" type="email">
          <div slot="label">
            Email
          </div>
        </form-group>
        <fa-check for="isPrimary" orientation="horizontal"
                  check-icon="fa-star">
          <span if.bind="!contactBody.isPrimary">Primary Contact?</span>
          <span if.bind="contactBody.isPrimary">
            <strong>Primary Contact</strong>
          </span>
        </fa-check>
      </form-wrap>
    </div>

    <div slot="footer">
      <save-button action.call="save()" is-working.bind="isSaving"></save-button>
      <cancel-button action.call="dialogController.cancel()" is-disabled.bind="isSaving"></cancel-button>
    </div>
  </dialog-wrap>
</template>
