<template>
  <dialog-wrap>
    <div slot="title">
      <fa-inline-left icon="fa-exclamation-triangle text-warning"></fa-inline-left>
      ${title}
    </div>
    <div slot="body">
      <p innerhtml.bind="prompt | sanitizeHTML">
      </p>
    </div>
    <div slot="footer">
      <standard-button text.bind="okLabel" icon="fa-check" 
                       action.call="ok()"
                       is-working.bind="isWorking"></standard-button>
      <standard-button text="Cancel" icon="fa-times" 
                       type="secondary" 
                       action.call="dialogController.cancel()"
                       is-disabled.bind="isWorking"></standard-button>
    </div>
  </dialog-wrap>
</template>
  