<template>
    <require from="../form-group.less"></require>

    <div class="form-group" class.bind="(fillHeight ? 'h-100' : '') + ' ' + (isDisabled ? 'form-group-disabled' : '')">
      <label for.one-time="id" show.bind="!noLabel" class.bind="noLabel ? 'h-0' : ''">
        <slot name="label"></slot>
      </label>

      <textarea id.one-time="id" class="form-control" aria-describedby.bind="id + 'Help'"
                autocomplete autofocus.bind="autofocus" value.bind="value"
                placeholder.bind="placeholder" class.bind="fillHeight ? 'h-100' : ''"
                rows.bind="rows" disabled.bind="isDisabled"></textarea>

      <small id.bind="id + 'Help'" class="form-text text-muted">
        <slot name="help"></slot>
      </small>
    </div>
</template>
