<template>
    <require from="../form-group.less"></require>

    <div class="form-group form-group-${orientation}" class.bind="isDisabled ? 'form-group-disabled' : ''">
      <label for.one-time="id">
          <slot name="label"></slot>
      </label>
      <select class="custom-select" value.bind="value" disabled.bind="isDisabled">
        <option value.bind="null">${placeholder}</option>
        <option repeat.for="opt of selectOptions" value.bind="opt.value">${opt.name}</option>
      </select>

      <small id.bind="id + 'Help'" class="form-text text-muted">
        <slot name="help"></slot>
      </small>
    </div>
</template>
