<template>
  <header title.bind="read.name" marker-type="hub" 
  subtitle.bind="hub.name "
          breadcrumbs.bind="breadcrumbs">
    <!-- <edit-button href.bind="'batches/edit/' + read.id"></edit-button> -->
  </header>

  <central-card-fill header="History" header-icon="fa-thermometer">
    <chart type="line" data.bind="temperatureData" native-options.bind="chartOptions"></chart>
  </central-card-fill>

  <div class="card-vertical-spacer"></div>

  <central-card-fill header="Contributing Work" header-icon="fa-clock-o">
    <compose view-model.bind="contributingWorkVm" model.one-time="{ work: contributingWork }"></compose>
  </central-card-fill>
</template>
