<template>
  <div class="row">
    <div class="col-md-6">
      <form-wrap model.bind="inviteBody" no-submit.bind="true">
        <form-group placeholder="Ex. Jane" for="firstName">
          <div slot="label">
            First Name
          </div>
        </form-group>
      </form-wrap>
    </div>
    <div class="col-md-6">
      <form-wrap model.bind="inviteBody" no-submit.bind="true">
        <form-group placeholder="Ex. Smith" for="lastName">
          <div slot="label">
            Last Name
          </div>
        </form-group>
      </form-wrap>
    </div>
  </div>
  <form-wrap model.bind="inviteBody" no-submit.bind="true">
    <form-group placeholder="Ex. jsmith@community-garden.org" for="email" type="email">
      <div slot="label">
        Email
      </div>
    </form-group>
    <hr>
    <fa-check for="isAdmin" orientation="horizontal">
      <span if.bind="!inviteBody.isAdmin">
        Is this User an Admin?
      </span>
      <strong if.bind="inviteBody.isAdmin">
        This User is an Admin
      </strong>
    </fa-check>
    <small class="text-secondary">
      <strong class="text-dark">Admins have no restrictions on the tracker.</strong>
      <br>
      They do many things including approve work records, create hubs and generators, and invite new technicians
    </small>
  </form-wrap>
</template>
