<template>
  <dialog-wrap>
    <div slot="title">
      <fa-inline-left icon="fa-envelope-o"></fa-inline-left>
      Invite Technician
      <br/>
      <fa-inline-left icon="fa-envelope-o fa-inverse"></fa-inline-left>
      <small>${pages[pageIndex].title}</small>
    </div>
    <div slot="body">
      <compose view-model.bind="pages[pageIndex]" model.bind="inviteBody"></compose>
    </div>
    <div slot="footer">
      <standard-button text="Prev" icon="fa-arrow-left" 
                       type="secondary"
                       action.call="prevPage()"
                       is-disabled.bind="isWorking || pageIndex === 0"></standard-button>
      <button-wrap type="primary" action.call="nextPage()" 
                   is-disabled.bind="pageIndex === pages.length - 1"
                   if.bind="pageIndex !== pages.length - 1"
                   is-working.bind="isWorking">
        Next
        <fa-inline-right icon="fa-arrow-right"></fa-inline-right>
      </button-wrap>
      <standard-button text="Send" icon="fa-paper-plane" 
                       action.call="nextPage()"
                       is-working.bind="isWorking"
                       if.bind="pageIndex === pages.length -1"></standard-button>
      <cancel-button action.call="cancel()" is-disabled.bind="isWorking"></cancel-button>
    </div>
  </dialog-wrap>
</template>
