<template>
  <require from="../central-card.less"></require>

  <div ref="helpWrap" style="display:none;">
    <slot name="help"></slot>
  </div>

  <div class="container" class.bind="fillHeight ? 'h-100' : ''">
    <div class="row" class.bind="fillHeight ? 'h-100' : ''">
      <div class="w-100" class.bind="fillHeight ? 'h-100' : ''">
        <slot name="test"></slot>
        <div class="card w-100 central-card" class.bind="fillHeight ? 'h-100' : ''">
          <div class="card-header" show.bind="header || hasSlotHeader">
            <h5 class="d-flex justify-content-between align-items-center">
              <div>
                <fa-inline-left icon="${headerIcon}"></fa-inline-left>
                <span if.bind="header">${header}</span>
                <slot name="header"></slot>
              </div>
              <div>
                <slot name="toolbar"></slot>
                <button title="Help" if.bind="helpContent" class="btn-transparent" click.delegate="toggleHelp()">
                  <i class="fa fa-lg fa-question-circle text-info"></i>
                </button>
              </div>
            </h5>
          </div>
          <ul class="list-group list-group-flush list-group-help" 
              class.bind="isHelpToggled ? 'active' : 'hidden'">
            <li class="list-group-item">
              <alert-bubble icon="fa-question" icon-type="info">
                <span innerhtml.bind="helpContent"></span>
              </alert-bubble>
            </li>
          </ul>
          <!-- NOTE: d-flex and flex-column are for enabling children (only textareas at this time)
                     to properly fill the body height.  I haven't noticed any side effects yet, 
                     but should keep an eye on this -->
          <div class="d-flex flex-column" class.bind="(hasNoBody ? '' : 'card-body') + ' ' + (fillHeight ? 'h-100' : '')">
            <slot></slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
