<template>
  <header title="Technicians" marker-type="technician">
    <standard-button text="Invite" icon="fa-envelope-o" 
                     action.call="sendInvite()"
                     is-working.bind="isInviting"></standard-button>
  </header>

  <central-card-lg header="Active" header-icon="fa-bolt">
    <grid config.bind="gridConfig"></grid>
  </central-card-lg>

  <div class="card-vertical-spacer"></div>

  <central-card-lg header="Pending Invites" header-icon="fa-envelope-o" show.bind="listPendingInvites.pendingInvites.length > 0">
    <compose view-model.bind="listPendingInvites"></compose>
  </central-card-lg>
</template>
