<template>
  <require from="./td-filler.less"></require>
  
  <a href.bind="href" class="td-link" click.delegate="action()">
    <div class="td-filler" class.bind="tdFillerClasses">
      <slot></slot>
    </div>
  </a>
</template>
