td-filler {
  display: inline-block;
  height: 100%;
  width: 100%;

  a.td-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: unset;
  }

  .td-filler {
    height: 100%;
    width: 100%;
  }

  .td-filler-padding {
    padding: 0.75rem;
  }

  .td-filler-content-centered-v {
    display: flex;
    align-items: center;
  }

  .td-filler-content-centered-h {
    display: flex;
    justify-content: center;
    
    >*:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  // remove default bootstrap margins from last child
  ul:last-child {
    margin-bottom: 0;
  }
}
