central-card-lg, central-card-sm, central-card-fill {
  .card-header {
    h5 {
      margin-bottom: 0;
    }
  }

  .list-group-help {
    &.active {
      height: 100%;
    }

    &.hidden {
      height: 0;
      overflow: hidden;
    }
  }
}
