<template>
  <require from="../bay-visual.less"></require>

  <div class="card card-bay">
    <div class="card-body text-center">
      <div>
        <h4 class="d-flex align-items-center justify-content-between">
          <div class="card-bay-title-name">
            ${bay.name}
          </div>
          <small title.bind="'Measurement Taken: ' + lastWork.date" if.bind="bay.activeBatches.length > 0 && measurementForBay"
                 class="card-bay-title-temp">
            ${measurementForBay.temperature} °F
          </small>
          <div class="card-bay-title-icon">
            <small if.bind="isActionable">
              <i title="Action Needed" class="fa fa-fw fa-exclamation text-warning"></i>
            </small>
            <small if.bind="!isActionable && bay.activeBatches.length > 0">
              <i title="Cooking" class="fa fa-fw fa-fire text-success"></i>
            </small>
          </div>
        </h4>
        <hr>
      </div>

      <div class="card-body-hub-content" if.bind="bay.activeBatches.length > 0">
        <div>
          ${bay.activeBatches | map:'name'}
        </div>
        <div>
          <i class="fa fa-fw fa-repeat" class.bind="isLastEventFill ? 'fa-arrow-circle-up' : 'fa-repeat'"></i>
          -
          <strong>${isLastEventFill ? 'Filled' : 'Turned Into'}</strong>
          <br/>
          <small class="text-secondary">
            ${lastBatchEvent.date | date}
          </small>
        </div>
      </div>
      <div if.bind="bay.activeBatches.length === 0" class="card-body-hub-content">
        <strong>Empty</strong>
      </div>
    </div>
  </div>
</template>
