<template>
  <require from="../bay-visual.less"></require>

  <div class="bay-wrap">
    <div class="regular-wrap">
      <work-bay repeat.for="b of regularBays" bay.bind="b"
                bay-id-to-name.bind="bayIdToName"
                measurement.bind="bayMeasurementsMap[b.id]"
                events.bind="bayEventsMap[b.id]"
                is-disabled.bind="isDisabled"></work-bay>
    </div>
    <div class="holding-wrap">
      <work-bay repeat.for="b of holdingBays" bay.bind="b"
                bay-id-to-name.bind="bayIdToName"
                measurement.bind="bayMeasurementsMap[b.id]"
                events.bind="bayEventsMap[b.id]"
                is-disabled.bind="isDisabled"></work-bay>
    </div>
  </div>
</template>
