@import './variables.less';
@import '../resources/elements/side-nav/side-nav.less';

@media(min-width: @sm) {
  .page-host {
    padding-left: @side-nav-width;
    padding-top: 1em;
  }

  nav.navbar {
    display: none!important;
  }
}

nav.navbar {
  background-color: @nav-bg;
  box-shadow: 1px 0px 18px -6px @shadow-color;

  .navbar-nav{
    .nav-link {
      color: var(--black);
    }
  }
}

.page-host {
  position: absolute;
  background-color: @primary-bg;
  width: 100%;
  padding-bottom: 1em;
  min-height: 100vh;

  .card {
    box-shadow: @card-box-shadow;
  }

  .container {
    >.row {
      &:not(:first-child) {
        margin-top: 2em;
      }
    }
  }

  .container-low {
    margin-top: 5rem;
  }
}

.card-vertical-spacer {
  margin-top: 30px;
  width: 100%;
}

.fa-inline-right {
  margin-left: 0.5rem;
}

.fa-inline-left {
  margin-right: 0.5rem;
}

ux-dialog-overlay.active {
  background-color: black;
  opacity: .5;
}

.btn {
  box-shadow: @card-box-shadow;
}

.btn-transparent {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
