@content-background-color: var(--light);
@shadow-color: var(--gray);

@card-box-shadow: 0px 2px 18px -6px @shadow-color;

@primary-bg-pos-60: spin(@primary-bg, 60);
@primary-bg-pos-30: spin(@primary-bg, 30);
@primary-bg: #dbe5d3;
@primary-bg-neg-30: spin(@primary-bg, -30);
@primary-bg-neg-60: spin(@primary-bg, -60);
@nav-bg: @primary-bg-neg-30;

@container-padding: 15px;

@marker-green: #6faa24;
@marker-red: #d13c2c;
@marker-blue: #3cacdc;
@marker-darkpurple: #583768;

@nav-z: 10000;
@side-nav-width: 4.6em;

@xs: 0;
// Small screen / phone
@sm: 576px;
// Medium screen / tablet
@md: 768px;
// Large screen / desktop
@lg: 992px;
// Extra large screen / wide desktop
@xl: 1200px;

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.text-primary {
  color: var(--primary)!important;
}
