<template>
  <require from="../central-card.less"></require>

  <div class="container">
    <div class="row">
      <div class="col-md-2 col-lg-3"></div>
      <div class="col-md-8 col-lg-6">
        <div class="card w-100 central-card">
          <div class="card-header" if.bind="header">
            <h5 class="d-flex justify-content-between align-items-center">
              <div>
                <i class="fa fa-inline-left ${headerIcon}"></i>
                ${header}
              </div>
              <slot name="toolbar"></slot>
            </h5>
          </div>
          <div class.bind="hasNoBody ? '' : 'card-body'">
            <slot></slot>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-lg-3"></div>
    </div>
  </div>
</template>
